References/ApplinkContext.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>


<!-- New document created by Praveen Yalavarty (Ford Motor Company) at Mon Aug 22 11:54:19 EDT 2011 -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ac="urn:ford/Vehicle/Module/Applink/Context/v1.0"
            targetNamespace="urn:ford/Vehicle/Module/Applink/Context/v1.0"
            elementFormDefault="qualified">

    <xsd:annotation>
        <xsd:documentation>
		This is the main schema that defines Applink context required 
		for any Applink based application to interact with Ford backend.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="ApplinkContextType">
        <xsd:annotation>
            <xsd:documentation>
                    Holds Applink message related metadata for message routing and processing. 
        
                    ESN = Electronic Serial Number of the module. Can be obtained by the caller in 
                    the response for "Decrypt" operation - Optional except... see "Note" below.
                    
                    Note: ESN is a "Required" attribute for all "encrypt" operation requests 
	     that will be sent to Datapower. A soapfault will be returned if ESN is not sent 
	     in the header for any "Encrypt" operations.
            
                    timeStamp = timeStamp when the message context was created by the provider - Required
            
                    correlationId = Unique Id generated by the caller for message traceability - Optional
                    
                    customerGuid = Global Unique Identifier of the customer with TDI subscription - Optional
            </xsd:documentation>
        </xsd:annotation>
            <xsd:attribute name="ESN" type="xsd:string" use="optional"/>
            <xsd:attribute name="timeStamp" type="xsd:dateTime" use="required" />
            <xsd:attribute name="customerGuid" type="xsd:string" use="optional"/>
            <xsd:attribute name="correlationId" type="xsd:string" use="optional"/>        
    </xsd:complexType>

    <xsd:element name="ApplinkContext" type="ac:ApplinkContextType"/>
</xsd:schema>
